[submodule ".vim/pack/ekspek/start/vim-airline"]
	path = .vim/pack/ekspek/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/ekspek/start/vim-dispatch"]
	path = .vim/pack/ekspek/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".vim/pack/ekspek/start/vimtex"]
	path = .vim/pack/ekspek/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule ".vim/pack/ekspek/start/vim-lua"]
	path = .vim/pack/ekspek/start/vim-lua
	url = https://github.com/tbastos/vim-lua
[submodule ".vim/pack/ekspek/start/undotree"]
	path = .vim/pack/ekspek/start/undotree
	url = https://github.com/mbbill/undotree
[submodule ".vim/pack/ekspek/start/molokayo"]
	path = .vim/pack/ekspek/start/molokayo
	url = https://github.com/fmoralesc/molokayo
[submodule ".vim/pack/ekspek/start/molokai"]
	path = .vim/pack/ekspek/start/molokai
	url = https://github.com/tomasr/molokai
[submodule ".vim/pack/ekspek/start/vim-airline-themes"]
	path = .vim/pack/ekspek/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/ekspek/start/vim-colors-solarized"]
	path = .vim/pack/ekspek/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/pack/ekspek/start/vim-snipmate"]
	path = .vim/pack/ekspek/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule ".vim/pack/ekspek/start/tlib_vim"]
	path = .vim/pack/ekspek/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule ".vim/pack/ekspek/start/vim-addon-mw-utils"]
	path = .vim/pack/ekspek/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
